# Build output (delivered via GitHub Releases)
main.js

# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder View States
.DS_Store
